# Ignore executable files
*.out
*.exe

# Ignore build artifacts and temporary files
/temp/

# Ignore specific directories
/directory_to_ignore/

# Ignore all executable files in any directory
**/*.out
**/*.exe
